<<<<<<< HEAD
.cards {
    height: 300px;
    width: 250px;
}

.header {
=======
.header{
>>>>>>> master
    text-align: center;
}

.navIcon {
    color: deepskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
<<<<<<< HEAD

.chart {
    margin-left: 80px;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
}

.chart2 {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
}

.formContainer {
    margin-left: 80px;
    display: inline-block;
}

.input1 {
    width: 250px;
}

.input2 {
    width: 250px;
=======
.chart{
    margin-top: 15px;
>>>>>>> master
}